[DEFAULT]
server-name=127.0.0.1:5000
app-secret=cadre_login_key
cadre_dashboard=http://cadrerac-env-2.mdudyq5agh.us-east-2.elasticbeanstalk.com/?username=

[CILOGON]
client-id=cilogon:/client_id/1
client-secret=cilogon-secret
issuer=https://cilogon.org
authorization-endpoint=https://cilogon.org/authorize
jwks-uri=https://cilogon.org/oauth2/certs
token-endpoint=https://cilogon.org/oauth2/token
userinfo-endpoint=https://cilogon.org/oauth2/userinfo
redirect-uri=https://login.cadre.iu.edu/api/auth/callback/

[GOOGLE]
issuer=https://accounts.google.com
client-id=google:/client_id/2
client-secret=google-secret
auth-endpoint=https://accounts.google.com/o/oauth2/auth
token-endpoint=https://www.googleapis.com/oauth2/v4/token
redirect-uri=https://login.cadre.iu.edu/api/auth/google/callback
userinfo-endpoint=https://www.googleapis.com/oauth2/v3/userinfo

[FACEBOOK]
issuer=https://graph.facebook.com
client-id=fb:/client_id/3
client-secret=facebook-secret
redirect-uri=https://login.cadre.iu.edu/api/auth/facebook/callback
auth-endpoint=https://www.facebook.com/v2.10/dialog/oauth
token-endpoint=https://graph.facebook.com/v2.10/oauth/access_token
userinfo-endpoint=https://graph.facebook.com/v2.10/me

[MICROSOFT]
issuer=https://graph.microsoft.com
client-id=microsoft_app_id
client-secret=microsoft_app_secret
redirect-uri=https://login.cadre.iu.edu/api/auth/microsoft/callback
auth-endpoint=https://login.microsoftonline.com/indiana.onmicrosoft.com/oauth2/v2.0/authorize
token-endpoint=https://login.microsoftonline.com/indiana.onmicrosoft.com/oauth2/v2.0/token
userinfo-endpoint=https://graph.microsoft.com/v1.0/me

[DATABASE_INFO]
database-host=localhost
database-port=5432
database-name=cadre
database-username=cadre
database-password=cadre

[JUPYTERHUB]
jupyterhub-apihost=http://abea6237e450611e9938e0200df19c19-1014441238.us-east-2.elb.amazonaws.com/hub/api/

[AWS]
aws-access-key-id=YOUR_KEY
aws-secret-access-key=YOUR_SECRET
region-name=us-east-2
client-id=cadre_client_id
redirect-uri=https://login.cadre.iu.edu/api/auth/callback/
token-endpoint=token_ep
userinfo-endpoint=userinfo_ep
user-pool-id=userpoolid