[DEFAULT]
server-name=127.0.0.1:5000
redirect-uri=https://login.cadre.iu.edu/api/auth/callback/

[CILOGON]
secret-key=dev-key
client-id=cilogon:/client_id/1
client-secret=cilogon-secret
issuer=https://cilogon.org
authorization-endpoint=https://cilogon.org/oauth2/register
jwks-uri=https://cilogon.org/oauth2/certs
token-endpoint=https://cilogon.org/oauth2/token
userinfo-endpoint=https://cilogon.org/oauth2/userinfo


[GOOGLE]
secret-key=dev-key
client-id=google:/client_id/2
client-secret=google-secret

[FACEBOOK]
secret-key=dev-key
client-id=fb:/client_id/3
client-secret=facebook-secret

[DATABASE_INFO]
database-host=localhost
database-port=5432
database-name=cadre
database-username=cadre
database-password=cadre
