<!DOCTYPE html>
<html>
    <head>
        <title>{% set s_title %}{% block title %}Home{% endblock %}{% endset %}{{ s_title }} - CADRE Login System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    </head>
    <body>
        <header class="container">
            <h1>CADRE</h1>
        </header>
        <hr />
        <div class="container">
            <h2 class="">{{ s_title }}</h2>
            {% block content %}{% endblock %}
        </div>
        <hr />
        <footer class="footer ">
            <div class="container text-center">&copy; <a href="https://iuni.iu.edu/">IU Network Science Institute</a></div>
        </footer>
    </body>
</html>
