{% extends "layout/default.html" %} {% block title %}Login{% endblock %} {% block content %}

<div class="has-text-centered"><a href="./api/auth/cilogon/login" class="button is-primary is-large" target="_blank"> CILOGON </a></div>
<br>
<br>
<div class="has-text-centered"><a href="./api/auth/google/login" class="button is-primary is-large" target="_blank"> Google </a></div>
<br>
<br>
{#<div class="has-text-centered"><a href="./api/auth/facebook/login" class="button is-primary is-large" target="_blank"> Facebook </a></div>#}
{#<br>#}
{#<br>#}
{#<div class="has-text-centered"><a href="./api/auth/microsoft/login" class="button is-primary is-large" target="_blank"> Microsoft </a></div>#}
{% endblock %}
