{% extends "layout/default.html" %} {% block title %}Login{% endblock %} {% block content %}

<div class="text-center"><a href="./api/auth/cilogon/login" class="btn btn-primary btn-lg" target="_blank"> CILOGON </a></div>
<br>
<br>
<div class="text-center"><a href="./api/auth/google/login" class="btn btn-primary btn-lg" target="_blank"> Google </a></div>
<br>
<br>
<!-- {#<div class="text-center"><a href="./api/auth/facebook/login" class="btn btn-primary btn-lg" target="_blank"> Facebook </a></div>#}
<div class="text-center"><a href="" class="btn btn-primary btn-lg disabled" disabled target="_blank"> Facebook </a></div>
<br>
<br>
{#<div class="text-center"><a href="./api/auth/microsoft/login" class="btn btn-primary btn-lg" target="_blank"> Microsoft </a></div>#}
<div class="text-center"><a href="" class="btn btn-primary btn-lg disabled" disabled target="_blank"> Microsoft </a></div> -->
{% endblock %}
